/COMPILE export-ignore
/external-doc export-ignore
/QUESTIONS export-ignore
/bin export-ignore
/utils export-ignore

/.gitattributes export-ignore
/.gitignore export-ignore

/src/.gitignore export-ignore

/doc/Makefile export-ignore
/doc/pynusmv.patch export-ignore
/doc/source export-ignore

/experiments export-ignore


/src/tools/amge export-ignore
/src/tests/tools/amge export-ignore

/src/tools/fpexplain export-ignore
/src/tests/tools/fpexplain export-ignore

/src/tools/mucalculus export-ignore
/src/tests/tools/mucalculus export-ignore
