*.o
*.lo
*.la
*.a
.deps/
.libs/
.dirstamp

MiniSat/minisat-2.2.0.tar.gz
MiniSat/minisat/
MiniSat/minisat2-070721.zip
MiniSat/patched_070721
MiniSat_v070721
cudd-2.4.1.1/include/
nusmv/Makefile
nusmv/NuSMV
nusmv/_configs.sed
nusmv/config.h
nusmv/config.log
nusmv/config.status
nusmv/contrib/Makefile
nusmv/doc/Makefile
nusmv/doc/html/Makefile
nusmv/doc/tutorial/Makefile
nusmv/doc/user-man/Makefile
nusmv/examples/Makefile
nusmv/helpers/extract_doc
nusmv/libtool
nusmv/nusmv-2.pc
nusmv/share/Makefile
nusmv/src/Makefile
nusmv/src/addons_core/Makefile
nusmv/src/addons_core/compass/Makefile
nusmv/src/addons_core/compass/parser/Makefile
nusmv/src/addons_core/compass/parser/ap/Makefile
nusmv/src/addons_core/compass/parser/ap/ap_grammar.c
nusmv/src/addons_core/compass/parser/ap/ap_grammar.h
nusmv/src/addons_core/compass/parser/ap/ap_input.c
nusmv/src/addons_core/compass/parser/prob/Makefile
nusmv/src/addons_core/compass/parser/prob/prob_grammar.c
nusmv/src/addons_core/compass/parser/prob/prob_grammar.h
nusmv/src/addons_core/compass/parser/prob/prob_input.c
nusmv/src/be/Makefile
nusmv/src/bmc/Makefile
nusmv/src/bmc/sbmc/Makefile
nusmv/src/cinit/Makefile
nusmv/src/cmd/Makefile
nusmv/src/compile/Makefile
nusmv/src/compile/symb_table/Makefile
nusmv/src/compile/type_checking/Makefile
nusmv/src/dag/Makefile
nusmv/src/dd/Makefile
nusmv/src/enc/Makefile
nusmv/src/fsm/Makefile
nusmv/src/hrc/Makefile
nusmv/src/ltl/Makefile
nusmv/src/ltl/ltl2smv/Makefile
nusmv/src/ltl/ltl2smv/ltl2smv
nusmv/src/mc/Makefile
nusmv/src/node/Makefile
nusmv/src/node/normalizers/Makefile
nusmv/src/node/printers/Makefile
nusmv/src/opt/Makefile
nusmv/src/parser/Makefile
nusmv/src/parser/grammar.c
nusmv/src/parser/grammar.h
nusmv/src/parser/grammar.y
nusmv/src/parser/grammar.y.1
nusmv/src/parser/grammar.y.2
nusmv/src/parser/grammar.y.3
nusmv/src/parser/grammar.y.tmp-e
nusmv/src/parser/idlist/Makefile
nusmv/src/parser/idlist/idlist_grammar.c
nusmv/src/parser/idlist/idlist_grammar.h
nusmv/src/parser/idlist/idlist_input.c
nusmv/src/parser/input.c
nusmv/src/parser/input.l
nusmv/src/parser/input.l.1
nusmv/src/parser/input.l.2
nusmv/src/parser/input.l.3
nusmv/src/parser/ord/Makefile
nusmv/src/parser/ord/ord_grammar.c
nusmv/src/parser/ord/ord_grammar.h
nusmv/src/parser/ord/ord_input.c
nusmv/src/parser/psl/Makefile
nusmv/src/parser/psl/psl_grammar.c
nusmv/src/parser/psl/psl_grammar.h
nusmv/src/parser/psl/psl_input.c
nusmv/src/prop/Makefile
nusmv/src/rbc/Makefile
nusmv/src/sat/Makefile
nusmv/src/sat/solvers/Makefile
nusmv/src/sat/solvers/satMiniSatIfc.h
nusmv/src/set/Makefile
nusmv/src/sexp/Makefile
nusmv/src/simulate/Makefile
nusmv/src/trace/Makefile
nusmv/src/trans/Makefile
nusmv/src/utils/Makefile
nusmv/src/wff/Makefile
nusmv/src/wff/w2w/Makefile
nusmv/stamp-h1
