*.so
*.o
*.lo
*.la
*.a
.deps/
.libs/
.dirstamp
__pycache__
lib/

*_wrap.c

MiniSat/minisat-2.2.0.tar.gz
MiniSat/minisat/
MiniSat/minisat2-070721.zip
MiniSat/patched_070721
MiniSat_v070721
cudd-2.4.1.1/include/
nusmv/Makefile
nusmv/NuSMV
nusmv/_configs.sed
nusmv/config.h
nusmv/config.log
nusmv/config.status
nusmv/contrib/Makefile
nusmv/doc/Makefile
nusmv/doc/html/Makefile
nusmv/doc/tutorial/Makefile
nusmv/doc/user-man/Makefile
nusmv/examples/Makefile
nusmv/helpers/extract_doc
nusmv/libtool
nusmv/nusmv-2.pc
nusmv/share/Makefile
nusmv/src/Makefile
nusmv/src/addons_core/Makefile
nusmv/src/addons_core/compass/Makefile
nusmv/src/addons_core/compass/parser/Makefile
nusmv/src/addons_core/compass/parser/ap/Makefile
nusmv/src/addons_core/compass/parser/ap/ap_grammar.c
nusmv/src/addons_core/compass/parser/ap/ap_grammar.h
nusmv/src/addons_core/compass/parser/ap/ap_input.c
nusmv/src/addons_core/compass/parser/prob/Makefile
nusmv/src/addons_core/compass/parser/prob/prob_grammar.c
nusmv/src/addons_core/compass/parser/prob/prob_grammar.h
nusmv/src/addons_core/compass/parser/prob/prob_input.c
nusmv/src/be/Makefile
nusmv/src/bmc/Makefile
nusmv/src/bmc/sbmc/Makefile
nusmv/src/cinit/Makefile
nusmv/src/cmd/Makefile
nusmv/src/compile/Makefile
nusmv/src/compile/symb_table/Makefile
nusmv/src/compile/type_checking/Makefile
nusmv/src/dag/Makefile
nusmv/src/dd/Makefile
nusmv/src/enc/Makefile
nusmv/src/fsm/Makefile
nusmv/src/hrc/Makefile
nusmv/src/ltl/Makefile
nusmv/src/ltl/ltl2smv/Makefile
nusmv/src/ltl/ltl2smv/ltl2smv
nusmv/src/mc/Makefile
nusmv/src/node/Makefile
nusmv/src/node/normalizers/Makefile
nusmv/src/node/printers/Makefile
nusmv/src/opt/Makefile
nusmv/src/parser/Makefile
nusmv/src/parser/grammar.c
nusmv/src/parser/grammar.h
nusmv/src/parser/grammar.y
nusmv/src/parser/grammar.y.1
nusmv/src/parser/grammar.y.2
nusmv/src/parser/grammar.y.3
nusmv/src/parser/grammar.y.tmp-e
nusmv/src/parser/idlist/Makefile
nusmv/src/parser/idlist/idlist_grammar.c
nusmv/src/parser/idlist/idlist_grammar.h
nusmv/src/parser/idlist/idlist_input.c
nusmv/src/parser/input.c
nusmv/src/parser/input.l
nusmv/src/parser/input.l.1
nusmv/src/parser/input.l.2
nusmv/src/parser/input.l.3
nusmv/src/parser/ord/Makefile
nusmv/src/parser/ord/ord_grammar.c
nusmv/src/parser/ord/ord_grammar.h
nusmv/src/parser/ord/ord_input.c
nusmv/src/parser/psl/Makefile
nusmv/src/parser/psl/psl_grammar.c
nusmv/src/parser/psl/psl_grammar.h
nusmv/src/parser/psl/psl_input.c
nusmv/src/prop/Makefile
nusmv/src/rbc/Makefile
nusmv/src/sat/Makefile
nusmv/src/sat/solvers/Makefile
nusmv/src/sat/solvers/satMiniSatIfc.h
nusmv/src/set/Makefile
nusmv/src/sexp/Makefile
nusmv/src/simulate/Makefile
nusmv/src/trace/Makefile
nusmv/src/trans/Makefile
nusmv/src/utils/Makefile
nusmv/src/wff/Makefile
nusmv/src/wff/w2w/Makefile
nusmv/stamp-h1

pynusmv/nusmv/addons_core/addons_core.py
pynusmv/nusmv/addons_core/compass/compass.py
pynusmv/nusmv/addons_core/compass/compile/compile.py
pynusmv/nusmv/addons_core/compass/parser/ap/ap.py
pynusmv/nusmv/addons_core/compass/parser/prob/prob.py
pynusmv/nusmv/be/be.py
pynusmv/nusmv/bmc/bmc.py
pynusmv/nusmv/bmc/sbmc/sbmc.py
pynusmv/nusmv/cinit/cinit.py
pynusmv/nusmv/cmd/cmd.py
pynusmv/nusmv/compile/compile.py
pynusmv/nusmv/compile/symb_table/symb_table.py
pynusmv/nusmv/compile/type_checking/checkers/checkers.py
pynusmv/nusmv/compile/type_checking/type_checking.py
pynusmv/nusmv/dag/dag.py
pynusmv/nusmv/dd/dd.py
pynusmv/nusmv/enc/base/base.py
pynusmv/nusmv/enc/bdd/bdd.py
pynusmv/nusmv/enc/be/be.py
pynusmv/nusmv/enc/bool/bool.py
pynusmv/nusmv/enc/enc.py
pynusmv/nusmv/enc/utils/utils.py
pynusmv/nusmv/fsm/bdd/bdd.py
pynusmv/nusmv/fsm/be/be.py
pynusmv/nusmv/fsm/fsm.py
pynusmv/nusmv/fsm/sexp/sexp.py
pynusmv/nusmv/hrc/dumpers/dumpers.py
pynusmv/nusmv/hrc/hrc.py
pynusmv/nusmv/ltl/ltl.py
pynusmv/nusmv/ltl/ltl2smv/ltl2smv.py
pynusmv/nusmv/mc/mc.py
pynusmv/nusmv/node/node.py
pynusmv/nusmv/node/normalizers/normalizers.py
pynusmv/nusmv/node/printers/printers.py
pynusmv/nusmv/opt/opt.py
pynusmv/nusmv/parser/idlist/idlist.py
pynusmv/nusmv/parser/ord/ord.py
pynusmv/nusmv/parser/parser.py
pynusmv/nusmv/parser/psl/psl.py
pynusmv/nusmv/prop/prop.py
pynusmv/nusmv/rbc/clg/clg.py
pynusmv/nusmv/rbc/rbc.py
pynusmv/nusmv/sat/sat.py
pynusmv/nusmv/sat/solvers/solvers.py
pynusmv/nusmv/set/set.py
pynusmv/nusmv/sexp/sexp.py
pynusmv/nusmv/simulate/simulate.py
pynusmv/nusmv/trace/eval/eval.py
pynusmv/nusmv/trace/exec/exec.py
pynusmv/nusmv/trace/loaders/loaders.py
pynusmv/nusmv/trace/plugins/plugins.py
pynusmv/nusmv/trace/trace.py
pynusmv/nusmv/trans/bdd/bdd.py
pynusmv/nusmv/trans/generic/generic.py
pynusmv/nusmv/trans/trans.py
pynusmv/nusmv/utils/utils.py
pynusmv/nusmv/wff/w2w/w2w.py
pynusmv/nusmv/wff/wff.py

